Hi, {{userDetail | userDetails}}
<div class="container" style="margin-top: 70px;">
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{'first-name' | translate}}</th>
        <th scope="col">{{'last-name' | translate}}</th>
        <th scope="col">{{'degree' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Subhash</td>
        <td>L</td>
        <td>MCA</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Prashant</td>
        <td>K</td>
        <td>CE</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Mahesh</td>
        <td>L</td>
        <td>MCA</td>
      </tr>
    </tbody>
  </table>
  
</div>